/* PC/スマホ共通スタイル */
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
  "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
}
p {
  font-size: 15px;
}

.fadeIn_up {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 2s;
}
.fadeIn_up.is-show {
  transform: translate(0, 0);
  opacity: 1;
}


/* PC用スタイル */
@media screen and (min-width: 768px) {
  /* 見出し */
  .title {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    border-bottom: dashed 3px gray;
  }

  /* PC用カルーセル設定 */
  .carousel {
    width: 885px;
    margin:0 100px;
  }
  .carouselImg {
    width: 885px;
  }

  body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto;
  }

  /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
  }
  /* 題名 */
  header > a {
    font-size: 60px;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
  }
  header > a:link {
    text-decoration: none;
    color: black;
  }
  header > a:visited {
    color: black;
  }
  header > a:hover {
    color: black;
  }
  header > a:active {
    color: black;
  }
  /* ナビ */
  #nav-pc {
    font-size: 20px;
    padding-top: 40px;
  }
  /* ナビリンク */
  #nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
  }
  #nav-pc > a:link {
    color: black;
  }
  #nav-pc > a:visited {
    color: black;
  }
  #nav-pc > a:hover {
    color: black;
    text-decoration: underline;
  }
  #nav-pc > a:active {
    color: black;
  }

  /* スマホ用ナビを非表示 */
  #nav-sp, #menu-sp {
    display: none;
  }


  /* メイン */
  #main-visual {
    position: relative;
    height: 500px;
    max-width: 1080px;
  }
  #main-message {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 11;
  }
  #main-message > h1 {
    font-size: 50px;
    font-style: italic;
  }
  #main-message > p {
    font-size: 30px;
    margin-left: 100px;
    font-style: italic;
  }


  /* about */
  #about-parent {
    display: flex;
    flex-wrap: wrap;
  }
  #about-img > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 40px 0 0 100px;
    box-shadow: 0 10px 25px 0 gray;
  }
  #about-message {
    margin: 40px 0 0 50px;
  }
  #about-message > p {
    width: 220px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid 3px gray;
  }
  #about-message > ul {
    font-size: 15px;
    padding-top: 20px;
  }
  

  /* hobby */
  #hobby-parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } 
  .hobby-box {
    width: 300px;
    height: 300px;
    margin-bottom: 70px;
  }
  .hobby-box > img {
    width: 100%;
    box-shadow: 15px 15px 0px 0 gray;
  }
  .hobby-box > p {
    margin-top: 40px;
  }


  /* plase */
  #plase-parent {
    margin-bottom: 70px;
  }
  #plase-parent > iframe {
    width: 100%;
  }


  /* contact */
  #contact-parent {
    margin-bottom: 70px;
    position: relative;
  }
  #contact-parent > form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  .contact-heading {
    width: 240px;
    align-self: center;
  }
  .contact-label {
    font-weight: bold;
  }
  .contact-span {
    color: red;
    margin-left: 20px;
    font-weight: bold;
  }
  .contact-textbox {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-color: #707070;
    border-bottom-style: solid;
    background-color: #fafafa;
    width: 400px;
    height: 56px; 
  }
  .contact-textarea {
    border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom-width: 1px;
      border-bottom-color: #707070;
      border-bottom-style: solid;
      background-color: #fafafa;
      width: 400px;
      height: 200px;
  }
  #contactBtn {
    width: 150px;
    height: 50px;
  }

  /* フッター */
  footer {
    background-color: black;
    text-align: center;
    padding: 30px 0;
  }
  /* フッター題名 */
  #footer-title {
    font-size: 30px;
  }
  #footer-title:link {
    color: white;
    text-decoration: none;
  }
  #footer-title:visited {
    color: white;
  }
  #footer-title:hover {
    color: white;
  }
  #footer-title:active {
    color: white;
  }
  /* フッターリンク */
  #footer-link {
    margin: 10px 0;
  }
  #footer-link > a {
    padding: 10px 10px 0 10px;
  }
  #footer-link > a:link {
    color: white;
    text-decoration: none;
  }
  #footer-link > a:visited {
    color: white;
  }
  #footer-link > a:hover {
    color: white;
    text-decoration: underline;
  }
  #footer-link > a:active {
    color: white;
  }
  /* コピーライト */
  #copyright {
    color: white;
    font-size: 10px;
  }
}  

/* スマートフォン用のスタイル */
/* 画面幅が767px以下の時 */
@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
    margin: 0;
  }

  /* ヘッダー */
  header > a {
    font-size: 45px;
    margin: 10px 0 0 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
  }
  header > a:link {
    text-decoration: none;
    color: black;
  }
  header > a:visited {
    color: black;
  }
  header > a:hover {
    color: black;
  }
  header > a:active {
    color: black;
  }

  /* pc用のナビゲーションを非表示 */
  #nav-pc {
    display: none;
  }

  /* ハンバーガーメニュー */
  #menu-sp {
    width: 50px;
    height: 50px;
    float: right;
    padding: 0;
  }

  /* スマホ用ナビゲーションの表示切替 */
  /* 初期状態、レイアウトと非表示設定 */
  #nav-sp {
    background-color: gray;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
  }

  /* ×ボタン */
  #close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  /* ナビゲーションメニュー用題名 */
  #top {
    margin: 80px 0 30px 20px;
    font-size: 30px;
    font-weight: bold;
  }
  #top:link {
    text-decoration: none;
    color: white;
  }
  #top:visited {
    color: white;
  }
  #top:hover {
    color: white;
  }
  #top:active {
    color: white;
  }

  /* ナビゲーションのリンク装飾設定 */
  #nav-sp > a {
    display: block;
  }
  #nav-sp > a:link {
    color: white;
  }
  #nav-sp > a:visited {
    color: white;
  }
  #nav-sp > a:hover {
    color: white;
    text-decoration: underline;
  }
  #nav-sp > a:active {
    color: white;
  }
  #nav-sp > .menu {
    text-decoration: none;
    display: block;
    margin: 0 20px 0 20px;
    height: 44px;
    font-size: 16px;
    background-image: url("image/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
  }

  /* 見出し */
  .title {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    border-bottom: dashed 3px gray;
  }

  /* メイン（カルーセル） */
  .carouselImg {
    width: 100%;
  }

  /* about */
  #about-img > img {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 40px auto 0 auto;
    box-shadow: 0 10px 25px 0 gray;
  }
  #about-message > p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: gray;
    border-width: 3px;
  }
  #about-message > ul {
    margin-left: 50px;
  }

  /* hobby */
  #hobby-parent {
    display: block;
    margin: 40px 50px 0 50px;
  }
  .hobby-box > img {
    width: 100%;
  }
  .hobby-box > p {
    text-align: center;
  }

  /* plase */
  #plase-parent {
    margin: 40px 50px 0 50px;
  }
  #plase-parent > iframe {
    width: 100%;
  }

  /* contact */
  #contact-parent {
    margin: 40px 0 100px 50px;
  }
  #contact-parent > form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  .contact-heading {
    width: 240px;
    align-self: center;
  }
  .contact-label {
    font-weight: bold;
  }
  .contact-span {
    color: red;
    margin-left: 20px;
    font-weight: bold;
  }
  .contact-textbox {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-color: #707070;
    border-bottom-style: solid;
    background-color: #fafafa;
    width: 400px;
    height: 56px; 
  }
  .contact-textarea {
    border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom-width: 1px;
      border-bottom-color: #707070;
      border-bottom-style: solid;
      background-color: #fafafa;
      width: 400px;
      height: 200px;
  }
  #contactBtn {
    width: 150px;
    height: 50px;
  }

  /* フッター */
  footer {
    background-color: black;
    text-align: center;
    padding: 30px 0;
  }
  /* フッター題名 */
  #footer-title {
    font-size: 30px;
  }
  #footer-title:link {
    color: white;
    text-decoration: none;
  }
  #footer-title:visited {
    color: white;
  }
  #footer-title:hover {
    color: white;
  }
  #footer-title:active {
    color: white;
  }
  /* フッターリンク */
  #footer-link {
    margin: 10px 0;
  }
  #footer-link > a {
    padding: 10px 10px 0 10px;
  }
  #footer-link > a:link {
    color: white;
    text-decoration: none;
  }
  #footer-link > a:visited {
    color: white;
  }
  #footer-link > a:hover {
    color: white;
    text-decoration: underline;
  }
  #footer-link > a:active {
    color: white;
  }
  /* コピーライト */
  #copyright {
    color: white;
    font-size: 10px;
  }
}